@page "/upload"
@inject HttpClient Http
@using System.IO
@using Common.Models


<h3>Upload</h3>

<InputFile OnChange="HandleFileSelected" />
Upload as: <input @bind="Email" />
<p>Status: @status</p>


@if (file != null)
{
    <button @onclick="UploadFile">Upload</button>
}


@code {
    IFileListEntry file;
    string status = "Waiting";
    string Email { get; set; }


    void HandleFileSelected(IFileListEntry[] files)
    {
        file = files.FirstOrDefault();
    }

    async Task UploadFile()
    {
        try
        {
            status = "Reading";
            byte[] bytes;

            using (MemoryStream ms = new MemoryStream())
            {
                await file.Data.CopyToAsync(ms);
                bytes = ms.ToArray();
            }
            var upload = new DocumentUpload { Email = Email, Contents = bytes };
            status = "Uploading";

            var response = await Http.PostAsJsonAsync(Constants.API_URL + "upload", upload);

            if (response.IsSuccessStatusCode)
            {
                var body = await response.Content.ReadAsStringAsync();

                status = "Upload complete. Your document ID is: " + body;
            }
            else
            {
                status = "Error: " + response.StatusCode;
            }
        }
        catch (Exception e)
        {
            status = "Upload failed: " + e.Message;
        }


    }
}